# Security Warning! Do not commit this file to any VCS!
# This is a local file to speed up development process,
# so you don't have to change your environment variables.
#
# This is not applied to `.env.template`!
# Template files must be committed to the VCS, but must not contain
# any secret values.

# === Django ===
# Generate DJANGO_SECRET_KEY:
# from django.utils.crypto import get_random_string
# print(get_random_string(50))

DJANGO_SECRET_KEY=__CHANGEME__

DEBUG=1

DOMAIN_NAME=*

# === Database ===

# These variables are special, since they are consumed
# by both django and postgres docker image.
# Cannot be renamed if you use postgres in docker.
# See: https://hub.docker.com/_/postgres

POSTGRES_DB=parser
POSTGRES_USER=parser
POSTGRES_PASSWORD=parser

# Used only by django:
DJANGO_DATABASE_HOST=db
DJANGO_DATABASE_PORT=5432

# Email settings
EMAIL_HOST=
EMAIL_PORT=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=
DEFAULT_FROM_EMAIL=

CSRF_COOKIE_SAMESITE=Lax
SESSION_COOKIE_SAMESITE=Lax